.home-card{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.left-cards{
    padding-top: 30px;
    width: 55%;
    height: 100vh;
    /* background-color: red; */
}
.left-cards .head-search{
    /* background-color: blue; */
    width: 95%;
    margin: 0 20px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head-search button{
    /* background-color: #07273d; */
    padding:5px 10px;
    border: 2px solid #555;
    border-radius: 10px;
    margin-top: 3px;
    height: 48px;
}
/* .head-search button:active{
    background-color: #07273d;
} */
.right-cards{
    width: 45%;
    background: #ccc;
}
.card-summary{
    /* background-color: red; */
    margin: 5px 25px;
    /* height: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}.card-cost{
    line-height: 10px;
}
.card-menu{
    display: flex;
    flex-direction: row;
}
.card-menu button{
    background: none;
    padding:5px 10px;
    border: 2px solid #555;
    border-radius: 10px;
    margin: 10px 10px;
    height: 50px;
}
